*.blg
*.bbl
*.dvi
*.out
*.tmp
*.lol
*.loa
*.lox
*.lot
*.lg
*.xref
*.lof
*.toc
*.log
*.aux
*.pdf
*.idx
*.gz
!pdf/realimentados.pdf
*~
*.swp
*.swo
*.d
*.d.*
.*.*.swp
.*.*.swo
/figuras/Icon*
.DS_Store
/manual/.DS_Store
